/* CSS Reset / Normalize */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
    color: white;
    background-color: rgb(13, 11, 11);
}

#interactivity-container {
    height: 46vh;
}

.flex-item {
    height: 40vh;
    width: 33.33%
}

.accordion-container {
    padding: 1rem;
    background-color: rgb(255, 255, 255 0);
    border: 1px solid gray;
    height: 30vh;
    width: 30%;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    align-items: center;
    margin-left: 35%;
}

/*ACCRODION*/

.accordion {
  width: 300px;
}

.accordion-item {
  margin-bottom: 5px;
}

.accordion-header {
  background-color: #000000;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  color: white;
}

.accordion-content {
  /* display: block; */
  /* max-height: 1000px; */
  transition: max-height 0.6s ease;
  padding: 10px;
  overflow: hidden;
  background-color: #333333;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  max-height: 0;
  display: none;
}

.accordion-content.active {
  display: block;
  max-height: 1000px;
}
