/* CSS Reset / Normalize */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
    color: white;
    background-color: rgb(13, 11, 11);
}

#interactivity-container {
    height: 46vh;
}


.hamburger-container {
    position: relative;
    background-color: white;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*POPUP MODAL*/

.mdl-container {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s;
    color: black;
}

.mdl-container.show {
    opacity: 1; 
    pointer-events: auto;
}

.mdl {
    background: white;
    height: 250px;
    width: 300px;
    max-width: 80%;
    border-radius: 10px;
    padding: 25px;
}

.btn {
    background-color: black;
    color: white;
    padding: 0.5rem;
    border: 1px solid gray;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0 0 20px 5px #00ffff;
}


