#update-section {
    height: 88vh;
    width: 100%;
    display: flex;
    justify-content: center;

}

.update-container {
    height: 88vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.update-container img {
    height: 75%;  
    border-radius: 30px; 
}